.header{
    height: 100vh;
    background-image: url("imagenes/background.jpg");
}
.vAlignMid{
    vertical-align:middle;
    color: white;
}
.centrar {
     text-align: center;   
}
.jumbotron {
    background-color: #f3f3f3;
}
#celeste {
    background-color: #40aef7;
    color:white;
}
.auxBody{
    background-color: #F0F0F0;
    color: #777;
}