body {
    font-family: 'Calibri Light', serif;
    font-size: 18px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 30px;
}

.header {
    height: 100vh;
    background-image: url("imagenes/background.jpg");
}

.vAlignMid {
    padding-top: 40vh;
    color: white;
    font-size: 40px;
}

h1 i {
    font-size: 120px;
}

.centrar {
    text-align: center;
}

.jumbotron {
    background-color: #fafafa;
}

#celeste {
    background-color: #40aef7;
    color: white;
    margin-top: 30px;
}

.auxBody {
    paddin-top: 15px;
    background-color: #F0F0F0;
    color: #777;
}

.panel {
    border: none;
}

#socialMedia {
    color: #40aef7;
    margin-top: 50px;
    margin-bottom: 35px;
}

#socialMedia div {
    color: #0288D1;
}

footer {
    background-color: #194695;
    color: #f7e8e8;
    padding-bottom: 35px;
}

footer img {
    margin-right: 5px;
    margin-bottom: 10px;
}

#boton {
    border-radius: 0px;
    font-size: 22px;
    background-color: #AB6F0D;
    border-color: #513201;
}

#boton:hover {
    background-color: #935b01;
}

address a:visited {
    color: #40aef7;
}

.sombra {
    border-radius: 0px;
}

.panel2 {
    border: solid 1px #d08002;
}

.panel3 {
    border: solid 1px #3c9a5f;
}

.sombra:hover {
    -webkit-box-shadow: 1px 5px 31px 4px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 1px 5px 31px 4px rgba(0, 0, 0, 0.22);
    box-shadow: 1px 5px 31px 4px rgba(0, 0, 0, 0.22);
}

.panel,
.panel-danger,
.panel-heading,
.panel-body,
.panel-footer {
    padding-left: 0px;
    padding-right: 0px;
}

.panel-heading {
    border-radius: 0px;
}

.panel-footer {
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: white;
}

.btnPanel {
    border-radius: 0px;
    width: auto;
    padding: 13px 0px;
    margin: 10px 13px;
    font-size: 22px;
    display: block;
}

.panel1 {
    border: solid 1px #ea2f10;
}

.panel4 {
    border: solid 1px #3c9a5f;
}

#paneles span {
    font-size: 21px;
    font-family: 'Calibri';
}

.justificado {
    text-align: justify;
}